html {
    text-align: center;
}

nav{
    margin-top: 30px;
    font-size:30px;
    font-weight: bolder;
    height: 60px;
    word-spacing: 50px;
    font-style: italic;
    width: 100%;
background-color: #FCF6F6;
}
nav a{
    text-decoration-style: none;
    text-decoration-line: none;
    color: plum;
    animation-name:change;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

    @keyframes change{
 0%{
     color: black;
 }
 50%{
     color: goldenrod;
 }
 100%{
     color: purple;
 }
    }


nav :hover{
    font-size: 40px;
    color: #7E7EAC;
    
}
div{
    margin-top: 75px;
}
#aboutme{
    margin: auto;
    max-width:950px;
    max-height: 1000px;
    padding: 5%;
    animation-name: bounce;
    animation-duration:5s;
    animation-iteration-count:2;
}
@keyframes bounce{
    0%{
        font-size: 15px;
    }
    50%{
        font-size: 30px;
    }
    100%{
        font-size: 35px;
    }
       }
#aboutme p{
  font-size: 30px;
}
#aboutme h2{
    margin-top: 10px;
}
#aboutme img{
    width:150px;
    height:100px;
    border-radius: 100%;
}
#portfolio{
    margin-top: 50px;
    min-height: 750px;
    min-width:750px;
    background: linear-gradient(90deg,#bdc3c7,#f5f5f5);
}
.photos{
    width:300px;
    height: 300px;
}
#gallery{
    margin: 2.5%;
    padding: 0;
    list-style: none;
}
#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}
#gallery li p{
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: #bdc3c7;

}
.container{
    width: 410px;
    overflow:hidden;
margin-top: 25px;
float: left;
padding: 20px;
background: linear-gradient(90deg,#bdc3c7,#f5f5f5);
border:1px solid white;
    border-radius: 5px}
    .container h1{
        text-align: center;
        margin-bottom:30px;
    }
    .container label{
        font-weight: bold;
    }
    .inp{
        width: 400px;
        height: 35px;
        margin-bottom:10px;
        border-radius:3px;
        border: 1px solid silver;
        padding:5px;
    
    }
.textbox{
    height:70px;
    width:400px;
    margin-bottom:10px;
    border-radius:3px;
    border: 1px solid silver;
    padding:5px;

}
.container button{
width:400px;
height: 35px;
background-color: #7E7EAC;
color:white;
border-radius: 3px;
border:0;
padding:5px;
font-size: 18px;
}

footer p{
 font-size: 10px;
 color: silver;
}

footer a{
    text-decoration-style: none;
    text-decoration-line: none;
    color: black;
    font-size: 20px;
}
footer a :hover{
    font-size: 40px;
    color:plum;
}

 /* responsiveness */
@media screen and (max-width: 1024px){
    
    nav{
        
        min-width:1000px;
        margin: auto;
    }
    #aboutme{
        min-width:50px;
        text-align: center;}

        .container{
            margin:0;
        }}